.jumbotron {
   background: url(images/header_background.png) repeat 0 0;
   max-width: 100%;
   max-height: 100%;
}

.current-tHead {
   font-weight: bold;
}

.container {
   margin-right: auto;
}

.panel-default {
   margin: 0px;
}

.panel-heading {
   background: #536da0 !important;
}